.title {
    text-align: center;


}

.search {
    text-align: center;
}

.picture {
    width: 20%;
    /* float:left; */
    /* display: inline; */
}

.desc {
    margin:2%;
}

.allContent {
    width:100%;
}
.Mtitle{
    text-align: center;
}
.infor {
    width: 70%;
    float:right;
}

.votes {
    width:10%;
    display:inline;
    float:left;
    margin-top:8%;
}
.upVote {
    font-size: 50px;
    display:block;
}
.downVote {
    font-size: 50px;
    
}
.movieInfo {
    display:inline;
   
}

.table {
    height: 50%;
}

.err {
    text-align: center;
    position: fixed;
    width:100%;
    margin:auto;
}

.invis {
    display:none;
}

